---
interface Props {
  lang: string;
  title: string;
  buttonText: string;
}

const { lang, title, buttonText } = Astro.props;

import ProjectCard from "@/components/projectCard.astro";

import { createSupabase } from "@/lib/supabase";
const supabase = createSupabase();
const { data } = await supabase
  .from("projects")
  .select("*")
  .order("created_at", { ascending: false })
  .limit(3);
---

<section class="min-h-dvh w-full py-24 px-4 sm:px-10 md:px-24 lg:px-36">
  <div class="flex justify-center items-center mb-6 md:mb-12">
    <h2 class="text-2xl lg:text-4xl font-bold">
      {title}
    </h2>
  </div>
  <div class="flex flex-col lg:flex-row justify-center items-start gap-8">
    {
      data?.map((project) => (
        <ProjectCard
          title={project[`title_${lang}`]}
          description={project[`description_${lang}`]}
          image={project.image}
          link={project.link}
          buttonText={buttonText}
        />
      ))
    }
  </div>
</section>
