---
interface Props {
  title: string;
  buttonText: string;
  projects: any;
}

const { title, buttonText, projects } = Astro.props;

import ProjectCard from "@/components/projectCard.astro";
---

<section class="min-h-dvh w-full py-24 px-4 sm:px-10 md:px-24 lg:px-36">
  <div class="flex justify-center items-center mb-10 md:mb-24">
    <p class="text-xl lg:text-2xl">
      {title}
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      projects?.map((project?: any) => (
        <ProjectCard
          title={project.title}
          description={project.description}
          image={project.image}
          link={project.url}
          buttonText={buttonText}
        />
      ))
    }
  </div>
</section>